@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-val-red: #FF4655;
    --color-val-navy: #0F1923;
    --color-val-slate: #1F2326;
    --color-val-white: #ECE8E1;
    --color-val-grey: #8B978F;
    
    --font-bebas: "Bebas Neue", sans-serif;
    --font-inter: "Inter", sans-serif;
}

@layer base {
    body {
        @apply bg-val-navy text-val-white font-inter antialiased;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-bebas uppercase tracking-tighter;
    }
}
